.container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 1.5rem;
  gap: 0.3rem;
  margin: 0 1rem;
}

.active,
.inactive {
  width: 1.3rem;
  height: 1.3rem;
}
.active {
  fill: rgb(240, 153, 14);
  stroke: rgb(240, 153, 14);
}

.inactive {
  stroke: lightgray;
  fill: white;
}
